<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring training</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Spring training</a>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right mr-2">
                <li class="dropdown">
                    <a class="dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="oi oi-person" title="User" aria-hidden="true"></span>
                        User
                    </a>

                    <div class="dropdown-menu dropdown-menu-right mt-3" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container mt-4">
        <h3 class="text-primary">Employees
            <span class="badge badge-primary" th:text="${#lists.size(employees)}">0</span>
            <a role="button" class="btn btn-outline-primary" href="/employee/create">Add</a>
        </h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Project</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <th scope="row" th:text="${employee.id}">id</th>
                    <td th:text="${employee.name}">Name</td>
                    <td th:text="${employee.currentProjectId}">Project</td>
                    <td class="text-right">
                        <a role="button" class="btn btn-outline-primary" th:href="'/employee/read/'+${employee.id}">View</a>
                        <a role="button" class="btn btn-outline-primary" th:href="'/employee/update/'+${employee.id}">Edit</a>
                        <a role="button" class="btn btn-outline-primary" th:href="'/employee/delete/'+${employee.id}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>