<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-head"/>
</head>
<body class="">
    <div class="container mt-4">
        <div class="card col-sm-4 offset-md-4  box-shadow pt-2">

            <div class="card-body">
                <form class="form-signin" th:action="@{/login}" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-info" role="alert">
                        You have been logged out.
                    </div>

                    <label for="username" class="sr-only">User</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="User" required autofocus>
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-outline-primary" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>